__pycache__/
*.pyc
.venv/
venv/
.env
.DS_Store
*.iml
.idea/
.vscode/
data/
target/
*.jar
local-config/
local-data/
.codegraph
.planning
/.classpath
/.factorypath
/.project
/debug.txt
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.jdt.apt.core.prefs
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
/AGENTS.md
